/* html,body,div,span,applet,object,iframe,h1,h2,
h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,
tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,
hgroup,menu,nav,output,
ruby,section,summary,time,
mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,
figure,footer,header,hgroup,
menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins",sans-serif;
}

.text_transform_Cap {
    text-transform:capitalize;
}

body{
    background-color: cornflowerblue;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************* custom style ***** */
main{
    background-color: #fff;
    min-width: 20rem;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

main .login_div >*{
    padding: 0.2rem;
    padding-left: 1rem;
}

.login_div{

}
/********************************************* display***** */
.flex {
    display: flex;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline_block {
    display: inline-block;
}

.flex_column {
    flex-direction: column;
}

.flex_grow_1 {
    flex-grow: 1;
}

.flex_grow_2 {
    flex-grow: 1;
}

.flex_grow_3 {
    flex-grow: 1;
}

/********************************************** width *******/
.width_100 {
    width: 100%;
}

.width_95 {
    width: 100%;
}

.width_50 {
    width: 100%;
}

.width_30 {
    width: 100%;
}

.width_300px{

}
/********************************************* padding & margin *******/
.padding_left_10px {
    padding-left: 10px;
}

.padding_left_5px {
    padding-left: 5px;
}

.padding_right_10px {
    padding-right: 10px;
}

.padding_right_5px {
    padding-right: 5px;
}

.margin_left_auto {
    margin-left: auto;
}

.margin_right_auto {
    margin-right: auto;
}

/********** color **********/
.text_color_white {
    color: white;
}

.text_color_black {
    color: black;
}

.text_color_grey_eee {
    color: #eee;
}

.text_color_grey_666 {
    color: #666;
}

/************************************************ background *********/
.background_color_eee{
    color: #eee;
}
.background_color_red{
    color: #eee;
}
.background_color_white{
    color: #fff;
}
.background_color_black{
    color: #000;
}
.background_color_666{
    color: #666;
}

/************************************************ background *********/